# dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# build
.next
out

# env
apps/web/.env.development
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
.idea
.vscode/*.log
CS 5610 FA25 MO (151 unread) _ Piazza QA_files/
